/*主页样式*/
* {
    margin: 0px;
    padding: 0px;
}

div.header {
    height: 60px;
    background-color: #24292e;
}

div.container {
    margin-top: 20px;
    height: 500px;
    background-color: #f2f2f2;
}

div.left {
    width: 20%;
    /*浮动*/
    float: left;
    padding-left: 15%;
}

div.right {
    width: 55%;
    height: 200px;
    float: left;
    padding-left: 20px;
}

div.right-content {
    background-color: pink;
}

a.user-image {
    display: block;
    padding: 10px;
    border-bottom: black dashed 1px;
    border-radius: 10px;
}

img.user-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.left .user-card {
    padding-top: 10px;
}